<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The visiting sites reviewing app</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <div class="nav navbar-expand-lg stickey-top navbar-dark" style="background-color: rgba(0, 0, 0, 0.5);">
       <a href="/" class="navbar-brand ml-5 navtext">HOME</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
       <div class="collapse navbar-collapse">
           <ul class="navbar-nav ml-auto mr-5">
            <% if(!currentUser){ %>
                <li class="nav-item">
                    <a href="/register" class="nav-link text-capitalize navtext" style="color:#EA1C2C;">Signup</a>
                </li>
                <li class="nav-item">
                    <a href="/login" class="nav-link text-capitalize navtext" style="color:#EA1C2C;">Login</a>
                </li>
            <% }else { %> 
                <li class = nav-item>
                    <a href="#" class = "nav-link text-capitalize navtext" style="color:#EA1C2C;">Logged in as <%=  currentUser.username %></a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link text-capitalize" style="color:#EA1C2C;">Logout</a>
                </li>
             <% } %>
           </ul>
       </div>
    </div>
   <div class = container>
       <% if(error && error.length>0){ %> 
            <div class = "alert alert-danger">
                <%= error %> 
            </div>
       <% } %> 
       <% if(success && success.length>0){ %>
            <div class = "alert alert-success">
                <%= success %> 
            </div>
       <% } %> 
   </div>
    
