<%- include ('../partials/header') %> 

<div class="container w-50 my-5 p-5">
    <h1 class = "my-5 border-bottom border-dark-sm pb-4 w-75">ADD YOUR COMMENT TO <%= campgrounds.name.toUpperCase() %> </h1>

    <form action="/campgrounds/<%= campgrounds._id%>/comments " method="POST" >
        <div class = "my-2 w-75">
            <input class = "form-control" type="text" placeholder="Text" name="comment[text]">
        </div>
        <div class = "my-2 w-75">
            <input class = "form-control btn btn-warning" type="submit"> 
        </div>
    </form>

    <a href="/campgrounds" class="btn btn-danger">Home</a>

</div>

<%- include ('../partials/footer') %> 