
<%- include ('partials/header') %> 

<div class="container w-50">
    <h1 class = "display-4 mt-3">Sign up<hr></h1>
    <form action="/register" method="post">
    <input class = "form-control m-2" type="text" name = "username" placeholder = "UserName">
    <input class = "form-control m-2" type="email" name = "Email" placeholder = "Email">
    <input class = "form-control m-2" type="password" name = "password" placeholder="Password">
    <button type="submit" class = "btn btn-info m-2">Register</button>
    </form>
</div>

<%- include ('partials/footer') %> 
